{% extends "layouts/base.html" %}

{% block content %}

    <div class="mb-5">
        <h4 class="text-2xl font-bold dark:text-white mb-3">Welcome to Global Cellular Partners</h4>
        <span class="block mb-3">At Global Cellular Partners, we're revolutionizing the way international calls are made and terminated. Our mission is to create a vast network of cellular partners spanning over 100 countries worldwide, all united in providing seamless connectivity and affordable communication solutions.</span>
    </div>
    <div class="mb-5">
        <h4 class="text-2xl font-bold dark:text-white mb-3">Our Vision</h4>
        <div class="mb-3">
            <b>Global Network : </b>
            <span>We're building a network of cellular partners in over 100 countries, ensuring widespread coverage and accessibility for our users.</span>
        </div>
        <div class="mb-3">
            <b>Unlocking earning power  of  Unused Devices : </b>
            <span>Our partners contribute their unused Android devices to our network, giving new life to these devices and expanding our reach across the globe.</span>
        </div>
        <div class="mb-3">
            <b>Digital Network Connectivity : </b>
            <span>These interconnected Android devices form a digitally connected network, allowing us to provide international call termination services at local call rates. With our network, users can make international calls without breaking the bank.</span>
        </div>
        <div class="mb-3">
            <b>Earning Opportunities : </b>
            <span>Our cellular partners earn revenue for every minute of call traffic that passes through their unused Android devices. This innovative approach not only benefits our partners financially but also promotes sustainable use of technology resources.</span>
        </div>
    </div>
    <div class="mb-5">
        <h4 class="text-2xl font-bold dark:text-white mb-3">Join Us</h4>
        <span class="block mb-3">Are you ready to be part of a global movement towards affordable and accessible communication? Join us as a cellular partner and contribute your unused Android devices to our network. Together, we can make international calling more convenient and cost-effective for everyone.
            At Global Cellular Partners, we're connecting the world, one call at a time. Join us on this journey today.
        </span>
    </div>
    
{% endblock content %}