{% extends "layouts/base.html" %}

{% block content %}

    <div class="mb-5">
        <h4 class="text-2xl font-bold dark:text-white mb-3">Earn Up to $2000 a Month with Zero Investment and Zero Labor</h4>
        <span class="block mb-3">Global Cellular Partners presents you with the most innovative way to earn up to $2000 a month without any investment or labor required.</span>
    </div>
    <div class="mb-5">
        <h4 class="text-xl font-bold dark:text-white mb-3">Imagine</h4>
        <span class="block mb-3">By utilizing unused Android phones, you can earn over $100 per phone per month effortlessly.</span>
    </div>
    <div class="mb-5">
        <h4 class="text-xl font-bold dark:text-white mb-3">How It Works</h4>
        <span class="block mb-3">As a Cellular Partner, you'll earn 0.02 cents per call minute that passes through your phone. It's that simple!</span>
    </div>
    <div class="mb-5">
        <h4 class="text-xl font-bold dark:text-white mb-3">Benefits of Joining</h4>
        <div class="mb-3">
            <b>Passive Income : </b>
            <span>Earn money without lifting a finger. Let your unused Android phones work for you.</span>
        </div>
        <div class="mb-3">
            <b>Flexibility : </b>
            <span>Work from anywhere at any time. All you need is an internet connection to start earning.</span>
        </div>
        <div class="mb-3">
            <b>No Investment Required : </b>
            <span>There's no need to invest any money upfront. Simply use the devices you already have.</span>
        </div>
        <div class="mb-3">
            <b>Easy Setup : </b>
            <span>Getting started is quick and easy. Simply sign up as a Cellular Partner and start earning immediately.</span>
        </div>
    </div>
    <div class="mb-5">
        <h4 class="text-2xl font-bold dark:text-white mb-3">Join Global Cellular Partners Today</h4>
        <span class="block mb-3">Don't miss out on this incredible earning opportunity. Join Global Cellular Partners today and start earning passive income with ease. Sign up now and turn your unused Android phones into a lucrative source of income!</span>
    </div>
    
{% endblock content %}