{% extends "layouts/base.html" %}

{% block content %}

<form method="post">
    {% csrf_token %}
    
    <h6 class="text-md font-bold dark:text-white mb-3">Login Information</h6>
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="">
        {% for field in form %}
            <div class="mb-3">
                <label for="id_{{ field.name }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>
    <span class="block mt-3">Not a parter yet? <a class="text-blue-700" href="{% url "become_parter" %}">Become a partner</a></span>
</form>

{% endblock content %}