{% extends "layouts/base.html" %}

{% block content %}

    <div class="mb-5">
        <h4 class="text-2xl font-bold dark:text-white mb-3">Our Technology</h4>
        <span class="block mb-3">At Global Cellular Partners, we're at the forefront of innovation in telecommunications. Our specially developed technology utilizes unused Android devices as a tool to generate income from local calls, revolutionizing the way international communication is handled.</span>
    </div>
    <div class="mb-5">
        <h4 class="text-2xl font-bold dark:text-white mb-3">How Our Technology Works</h4>
        <div class="mb-3">
            <b>1. Client Connection : </b>
            <span>Our clients from all over the world connect to our VoIP servers and dial an international number to a specific country.</span>
        </div>
        <div class="mb-3">
            <b>2. Server Routing : </b>
            <span>Our servers intelligently route the call to a specific Android device in our digital cellular partners network. This Android device is located in the country where the international number belongs.</span>
        </div>
        <div class="mb-3">
            <b>3. Local Call Establishment : </b>
            <span>The local Android device that receives the call from our server then dials the local number and creates a digital audio call between our client and our local Global Cellular Partner Android.</span>
        </div>
    </div>
    <div class="mb-5">
        <h4 class="text-2xl font-bold dark:text-white mb-3">Join Us</h4>
        <span class="block mb-3">With this innovative technology, we're able to provide seamless, cost-effective international communication for our clients while also offering earning opportunities for our cellular partners. Join us today and be part of the future of telecommunications with Global Cellular Partners.</span>
    </div>
    
{% endblock content %}