{% load i18n %}
<div class="card bank-card">
    <div class="card-content">
        <div class="flex justify-between items-start w-full">
            <div class="flex flex-row justify-start items-center gap-1">
                <div class="flex -space-x-4 rtl:space-x-reverse">
                    <span class="w-8 h-8 bg-white/90 border-2 border-white rounded-full dark:border-gray-300"></span>
                    <span class="w-8 h-8 bg-white/80 border-2 border-white rounded-full dark:border-gray-300"></span>
                    <span class="w-8 h-8 bg-white/70 border-2 border-white rounded-full dark:border-gray-300"></span>
                </div>
                <h5 class="h5 !text-white capitalize">
                    {{ item.account_name|default:"N/A" }}
                </h5>
            </div>
            <div>
                <button id="bank-account-{{ item.id }}-dropdown-button"
                        data-dropdown-toggle="bank-account-{{ item.id }}-dropdown"
                        class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-100 dark:hover:text-gray-300"
                        type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round"
                         class="lucide lucide-ellipsis-vertical">
                        <circle cx="12" cy="12" r="1"/>
                        <circle cx="12" cy="5" r="1"/>
                        <circle cx="12" cy="19" r="1"/>
                    </svg>
                </button>
                <div id="bank-account-{{ item.id }}-dropdown"
                     class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                        aria-labelledby="record-{{ item.id }}-dropdown-button">
                        <li>
                            <button data-id="{{ item.id }}"
                                    data-modal-target="bank-account-edit-modal"
                                    data-modal-toggle="bank-account-edit-modal"
                                    class="pm-edit w-full text-start block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                {% translate 'Edit' %}
                            </button>
                        </li>
                    </ul>
                    <div class="py-1">
                        <a href="{% url 'main:payment_method_delete' item.id %}"
                           class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                            {% translate 'Delete' %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <h6 class="h4 !text-gray-300 font-extrabold">{{ item.get_account_number_display }}</h6>
        <div class="flex flex-col w-full">
            <span class="text-xs !text-gray-300 font-medium">Swift: {{ item.get_swift_number_display|default:"N/A" }}</span>
            <span class="text-xs !text-gray-300 font-medium">IBan: {{ item.get_iban_number_display|default:"N/A" }}</span>
        </div>
        <div class="flex w-full justify-between items-center">
            <div class="flex flex-col gap-1">
                <span class="text-sm text-slate-300 font-bold">{% trans 'Status' %}</span>
                {% if item.is_active %}
                    <span class="text-sm text-success-100">{% trans 'Verified' %}</span>
                {% else %}
                    <span class="text-sm text-danger-100">{% trans 'Unverified' %}</span>
                {% endif %}
            </div>
            <div class="flex flex-col gap-1">
                <span class="text-sm text-slate-300 font-bold">{% trans 'Bank' %}</span>
                <span class="text-sm text-slate-100">{{ item.bank_name }}</span>
            </div>
            <div class="flex flex-col gap-1">
                <span class="text-sm text-slate-300 font-bold">{% trans 'Country' %}</span>
                <div class="flex justify-start items-start gap-1">
                    <span class="fi fi-{{ item.country.short_name|default:"N/A"|slice:2|lower }}"></span>
                    <span class="text-sm text-slate-100 font-bold">{{ item.country.short_name|default:"N/A" }}</span>
                </div>

            </div>
        </div>
    </div>
</div>