{% extends 'layouts/dashboard.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 gap-4">
        <section class="col-span-1 lg:col-span-3 xl:col-span-2">
            {% include 'pages/dashboard/components/slider.html' with data=slides %}
        </section>
        <section class="col-span-1 lg:col-span-1 card h-fit">
            {% include 'pages/dashboard/components/add_phone.html' %}
        </section>
    </div>
{% endblock %}