{% load static %}
{% load i18n %}
<section
        class="!bg-bottom !bg-cover !bg-no-repeat bg-gray-700 bg-blend-multiply h-dvh before:absolute  before:left:0 before:w-full before:h-full before:bg-gradient-to-t before:from-black"
        style="background: url({% static 'img/hero-2.jpg' %})">
    <div class="px-4 mx-auto max-w-screen-xl md:text-center grid justify-center items-start py-24 lg:py-56 z-10 relative">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl text-highlight">
            {% blocktranslate %}
                Welcome to Global Cellular Partners
            {% endblocktranslate %}
        </h1>
        <p class="mb-8 text-lg font-normal text-gray-300 lg:text-lg sm:px-16 lg:px-48">
            {% blocktranslate %}
                At Global Cellular Partners, we're revolutionizing the way international calls are made and terminated.
                Our mission is to create a vast network of cellular partners spanning over 100 countries worldwide, all
                united in providing seamless connectivity and affordable communication solutions.
            {% endblocktranslate %}
        </p>
        <div class="flex flex-nowrap sm:flex-row sm:justify-center">
            <a href="{% url 'main:dashboard' %}" class="justify-center items-center btn btn-primary">
                {% translate 'Get started' %}
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                     fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
            <a href="#about-section" class="btn btn-outline btn-white">
                {% translate 'Learn more' %}
            </a>
        </div>
    </div>
</section>