{% load i18n %}
<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"
/>
<section class="bg-background reverse py-10">
    <div class="container my-20">
        <h3 class="text-5xl font-bold text-center !text-highlight mb-2">{% translate 'Countries We support' %}</h3>
        <p class="text-center body1">
            {% blocktranslate %}
                Start exploring the countries Global Cell support
            {% endblocktranslate %}
        </p>
        <div class="flex flex-wrap justify-center items-start my-20 gap-10">
            {% for item in data %}
                <div class="col-span-1">
                    <div class="w-24 h-24 overflow-hidden rounded-full flex justify-center items-center">
                        <span class="fi fi-{{ item.short_name|lower }} !w-full !h-full fis "></span>
                    </div>
                </div>
            {% empty %}

            {% endfor %}
        </div>
    </div>
</section>