{% extends 'layouts/base.html' %}
{% load i18n %}
{% block content %}
    <section class="bg-background py-10 ">
        <div class="container my-20 flex justify-center items-center">
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        {% translate 'Sign in to your account' %}
                    </h1>
                    <form method="post" enctype="application/x-www-form-urlencoded" class="space-y-4 md:space-y-6"
                          action=".">
                        {% csrf_token %}
                        <div>
                            <label for="email" class="form-label">{% translate 'Your email' %}</label>
                            <input type="email" name="email" id="email" class="form-control"
                                   placeholder="example@gmail.com" required="">
                        </div>
                        <div>
                            <label for="password" class="form-label">{% translate 'Password' %}</label>
                            <input type="password" name="password" id="password" placeholder="••••••••"
                                   class="form-control"
                                   required="">
                        </div>
                        <div class="flex items-center justify-between">
                            <a href="{% url 'reset_password' %}" class="link-primary">
                                {% translate 'Forgot password?' %}
                            </a>
                        </div>
                        <button type="submit" role="button" class="btn btn-primary w-full">
                            {% translate 'Sign in' %}
                        </button>
                        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                            {% blocktranslate %}
                                Don’t have an account yet?
                            {% endblocktranslate %}
                            <a href="{% url 'accounts:register' %}" class="link-primary">{% translate 'Sign up' %}</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}