{% extends 'layouts/base.html' %}
{% load i18n %}
{% block content %}
    <section class="bg-background py-10 ">
        <div class="container my-20 flex justify-center items-center">
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        {% translate 'Reset Password' %}
                    </h1>
                    <form method="post" enctype="application/x-www-form-urlencoded" class="space-y-4 md:space-y-6"
                          action=".">
                        {% csrf_token %}
                        <div class="col-span-1 md:col-span-2">
                            <label for="id_{{ form.new_password1.name }}" class="form-label">{{ form.new_password1.label }}</label>
                            {{ form.new_password1 }}
                            <small class="text-xs body1">{{ form.new_password1.help_text }}</small>
                            <small class="text-xs text-red-600">{{ form.new_password1.errors }}</small>
                        </div>                        
                        <div class="col-span-1 md:col-span-2">
                            <label for="id_{{ form.new_password2.name }}" class="form-label">{{ form.new_password2.label }}</label>
                            {{ form.new_password2 }}
                            <small class="text-xs body1">{{ form.new_password2.help_text }}</small>
                            <small class="text-xs text-red-600">{{ form.new_password2.errors }}</small>
                        </div>
                        <button type="submit" role="button" class="btn btn-primary w-full">
                            {% translate 'Reset Password' %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}