@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply bg-[#030C1A] !text-white;
    }

    strong {
        color: inherit !important;
    }

    html {
        scroll-behavior: smooth;
    }

    table {
        @apply
        w-full text-sm text-left text-gray-500 dark:text-gray-400 rounded-lg
    }

    thead {
        @apply
        text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400
    }

    thead tr th {
        @apply
        px-4 py-3
    }

    tbody tr {
        @apply
        border-b dark:border-gray-700
    }

    tbody tr th {
        @apply
        px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white
    }

    tbody tr td {
        @apply
        px-4 py-3
    }

}


@layer components {

    .bg-background {
        @apply
        bg-gradient-to-t from-[#030C1A] to-black
    }

    .bg-background.reverse {
        @apply
        bg-gradient-to-b from-[#030C1A] to-black
    }

    .link-primary {
        @apply
        text-sm font-medium text-primary-600 hover:underline dark:text-primary-500
    }

    .btn {
        @apply
        flex gap-2 justify-center w-fit items-center text-black bg-white hover:bg-white/90 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 border-2 border-transparent transition-all no-underline

    }

    .btn-outline.btn-primary {
        @apply
        bg-transparent dark:bg-transparent text-primary border-primary hover:bg-primary dark:hover:bg-primary hover:text-white !important
    }

    .btn.btn-primary {
        @apply
        bg-primary text-white hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800
    }

    .btn-outline.btn-dark {
        @apply
        bg-transparent dark:bg-transparent text-gray-800 border-gray-800 hover:bg-gray-800 dark:hover:bg-gray-800 hover:text-white !important
    }

    .btn.btn-dark {
        @apply
        bg-gray-800 text-white hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-800 dark:hover:bg-gray-900 dark:focus:ring-gray-900
    }


    .btn.btn-secondary {
        @apply
        bg-secondary text-black hover:bg-secondary-700
    }

    .btn-outline.btn-secondary {
        @apply
        bg-transparent text-secondary border-secondary hover:bg-secondary hover:text-white
    }

    .btn-outline.btn-white {
        @apply
        bg-transparent text-white border-white hover:bg-white hover:text-black
    }

    .text-highlight {
        @apply
        bg-clip-text bg-gradient-to-tl from-primary-600 to-secondary-400 text-transparent;
    }

    .form-label {
        @apply
        block mb-2 text-sm font-medium text-gray-900 dark:text-white
    }


    .form-control {
        @apply
        bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500
    }

    .form-select {
        @apply
        bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg cursor-pointer focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500
    }

    .form-check-box {
        @apply
        w-4 h-4 border border-gray-300 rounded cursor-pointer bg-gray-50 focus:ring-4 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800
    }

    .badge {
        @apply
        text-xs font-medium me-2 px-2.5 py-0.5 rounded
    }

    .badge.badge-success {
        @apply
        bg-success-100 text-success-800 dark:bg-success-700 dark:text-success-100
    }

    .badge.badge-danger {
        @apply
        bg-danger-100 text-danger-800 dark:bg-danger-700 dark:text-danger-100
    }

    .badge.badge-warning {
        @apply
        bg-warning-100 text-warning-800 dark:bg-warning-900 dark:text-warning-300
    }

    .badge.badge-info {
        @apply
        bg-info-100 text-info-800 dark:bg-info-700 dark:text-info-100
    }


    .breadcrumbs {
        @apply
        inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse
    }

    .breadcrumbs-item {
        @apply
        inline-flex items-center text-sm font-medium text-gray-700 hover:text-info-600 dark:text-gray-400 dark:hover:text-white
    }

    .breadcrumbs-item.active {
        @apply
        ms-1 text-gray-500 md:ms-2 dark:text-gray-400
    }


    .paginator-link {
        @apply
        flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white
    }

    .dropdown-item {
        @apply
        flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg
    }

    .notification-dropdown {
        @apply
        hidden z-50 my-4 text-base list-none bg-white rounded-lg divide-y divide-gray-100 shadow dark:bg-gray-700 w-96 px-4 py-2
    }

    .notification-wrapper {
        @apply
        h-64 flex flex-col justify-start items-start overflow-y-auto primary-scrollbar w-full
    }

    .notification-wrapper-item {
        @apply
        flex flex-row gap-2 justify-start items-start w-full border-b border-gray-600 px-3 py-3 hover:bg-gray-600
    }

    .notification-wrapper-empty {
        @apply
        flex flex-row gap-2 justify-center items-center w-full border-b border-gray-600 px-2 py-3 hover:bg-gray-600
    }

    .notification-priority {
        @apply
        bg-info
    }
    .notification-priority.success {
        @apply
        bg-success
    }
    .notification-priority.error {
        @apply
        bg-danger
    }
    .notification-priority.warning {
        @apply
        bg-warning
    }
    .notification-priority.info {
        @apply
        bg-info
    }

    .notification-not-seen {
        @apply
        bg-gray-200 dark:bg-gray-600 cursor-pointer
    }

    .language-dropdown {
        @apply
        hidden z-50 my-4 text-base list-none bg-white rounded-lg divide-y divide-gray-100 shadow dark:bg-gray-700
    }

    .language-dropdown-item {
        @apply
        block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:text-white dark:text-gray-300 dark:hover:bg-gray-600
    }

    .dropdown-child {
        @apply
        flex items-center p-2 gap-3 w-full text-sm font-normal text-gray-900 rounded-lg transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-950
    }

    .dropdown-child svg {
        @apply
        size-5
    }

    .modal {
        @apply
        overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full
    }

    .modal-content-wrapper {
        @apply
        relative p-4 w-full max-w-2xl max-h-full
    }

    .modal-content {
        @apply
        relative bg-white rounded-lg shadow dark:bg-gray-700
    }

    .modal-content input, .modal-content select {
        @apply
        dark:bg-gray-800 dark:border-gray-600  !important
    }

    .modal-header {
        @apply
        flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600
    }

    .modal-btn-close {
        @apply
        text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white
    }

    .modal-body {
        @apply
        p-4 md:p-5 space-y-4
    }

    .modal-footer {
        @apply
        flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600
    }

    .card {
        @apply
        block bg-white rounded-lg shadow dark:bg-gray-800 transition-all
    }

    .card .card-content {
        @apply
        p-6 flex flex-col justify-start items-start gap-4
    }

    .bank-card {
        @apply
        bg-gradient-to-bl from-info-400 to-info-600 w-full !important
    }

    .toast {
        @apply
        border-2 z-50 fixed top-5 right-5 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800
    }

    .toast.toast-danger {
        @apply
        border-danger-500
    }

    .toast-danger .toast-icon {
        @apply
        inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-danger-500 bg-danger-100 rounded-lg dark:bg-danger-800 dark:text-danger-200
    }

    .toast.toast-success {
        @apply
        border-success-500
    }

    .toast-success .toast-icon {
        @apply
        inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-success-500 bg-success-100 rounded-lg dark:bg-success-800 dark:text-success-200
    }

    .toast.toast-warning {
        @apply
        border-warning-500
    }

    .toast-warning .toast-icon {
        @apply
        inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-orange-500 bg-orange-100 rounded-lg dark:bg-warning-800 dark:text-warning-300
    }

    .toast.toast-info {
        @apply
        border-info-500
    }

    .toast-info .toast-icon {
        @apply
        inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-info-500 bg-info-100 rounded-lg dark:bg-info-800 dark:text-info-200
    }


    .primary-scrollbar {
        @apply
        scrollbar scrollbar-w-2 scrollbar-thumb-rounded-full scrollbar-thumb-primary
    }

    .slider {
        @apply
        relative h-56 overflow-hidden rounded-lg md:h-96 lg:h-full
    }

    .slider-item {
        @apply
        duration-700 ease-in-out aspect-auto relative
    }


    .slider-img {
        @apply
        absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 h-full
    }

    .slider-indicators {
        @apply
        absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse
    }

    .slider-indicators-item {
        @apply
        w-3 h-3 rounded-full
    }

    .slider-btn-next {
        @apply
        absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer focus:outline-none
    }

    .slider-btn-prev {
        @apply
        absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer focus:outline-none
    }


    /* ---------- Typography ---------- */
    .body1 {
        @apply text-base font-normal text-slate-600 dark:text-slate-400;
    }

    .body2 {
        @apply text-sm font-light text-slate-500 dark:text-slate-500;
    }

    .caption {
        @apply text-xs font-normal text-slate-500 dark:text-slate-500;
    }

    .subtitle1 {
        @apply text-2xl sm:text-3xl font-semibold text-slate-700 dark:text-slate-500;
    }

    .subtitle2 {
        @apply text-xl sm:text-2xl font-medium text-slate-700 dark:text-slate-500;
    }

    .h1 {
        @apply text-4xl sm:text-6xl font-bold text-slate-800 dark:text-slate-500;
    }

    .h2 {
        @apply text-3xl sm:text-4xl font-bold text-slate-800 dark:text-slate-500;
    }

    .h3 {
        @apply text-2xl sm:text-3xl font-bold text-slate-800 dark:text-slate-500;
    }

    .h4 {
        @apply text-xl sm:text-2xl font-bold text-slate-800 dark:text-slate-500;
    }

    .h5 {
        @apply text-lg sm:text-xl font-bold text-slate-800 dark:text-slate-500;
    }

    .h6 {
        @apply text-base sm:text-lg font-bold text-slate-800 dark:text-slate-500;
    }


}
