<div class="fixed bottom-10 right-10 ">
    <button class="btn btn-primary !rounded-full p-3" id="go-top-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor"
             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-up">
            <path d="m18 15-6-6-6 6"/>
        </svg>
    </button>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const topBtn = document.getElementById("go-top-btn")
        topBtn.addEventListener("click", () => {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
        })
    })
</script>