{% load i18n %}

<section class="bg-gradient-to-r from-[#030C1A] via-primary-700 to-[#030C1A] py-5">
    <div class="container my-10">
        <article class="prose lg:prose-xl text-center w-full mx-auto">
            <h3 class="text-white font-bold ">{% translate 'Join the Movement' %}</h3>
            <p class="text-slate-300">
                {% blocktranslate %}
                    Are you ready to be part of a global revolution in communication? Join us as a cellular partner and
                    contribute your unused Android devices to our network. Together, we can redefine the way the world
                    communicates, making international calling more convenient, affordable, and accessible for everyone.
                {% endblocktranslate %}
            </p>
        <a class="btn btn-white w-1/3 mx-auto " role="button" href="#">{% translate 'Join Now' %}</a>
        </article>
    </div>
</section>