{% load static %}
{% load i18n %}

<section class="bg-background reverse py-10">
    <div class="container my-20">
        <h3 class="mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl text-highlight text-center">
            {% blocktranslate %}
                Let's hear directly from our team
            {% endblocktranslate %}
        </h3>
        {% if page %}
            {% if page.video %}
                <div class="aspect-video rounded-lg mt-10 w-full">
                    <video controls poster="{{ page.video_poster.url }}" class="w-full h-full">
                        <source src="{{ page.video.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            {% else %}
                <!-- Placeholder or Thumbnail -->
                <div class="aspect-video rounded-lg mt-10">
                    <img src="{% static 'img/video-placeholder.jpg' %}" alt="Video Placeholder">
                </div>
            {% endif %}
        {% endif %}
</section>
