{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    {% include 'pages/main/components/hero.html' %}
    {% include 'pages/main/components/about.html' %}
    {% include 'pages/main/components/vision.html' %}
    {% include 'pages/main/components/join_us.html' %}
    {% include 'pages/main/components/support_countries.html' %}
    {% include 'pages/main/components/earnings.html' %}
    {% include 'pages/main/components/faq.html' %}
    {% include 'pages/main/components/go_top.html' %}
{% endblock %}